.footer
  padding-top: 108px
  padding-bottom: 46px
  background-color: $dark-theme
  color: $light-theme
  &__title
    text-transform: uppercase
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 23px
    margin: 0 0 16px 0
    &--inline
      margin: 0 43px 0 0
    &--mb3
      margin-bottom: 30px
  &__ul
    padding: 0
    margin: 0
    list-style: none
  &__item
    display: flex
    align-items: flex-start
    color: $footer-text-color
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 160%
    &--mb2
      margin-bottom: 20px
  &__icon
    margin-right: 20px
    &-wrapper
      min-width: 40px
  &__link
    text-decoration: none
    color: $footer-text-color
  &__text
    color: $footer-text-color
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 160%
    margin-bottom: 22px
  &-wrapper
    display: grid
    grid-template-columns: repeat(4, minmax(min-content, 1fr))
    grid-gap: 20px
    grid-auto-rows: minmax(40px, min-content)
    align-items: start
  &__logo
    width: 166px
    align-items: start
    grid-row: 1 / 3
  &__categories
    grid-row: 1 / 4
  &__additional
    grid-row: 1 / 2
  &__social
    &-network
      display: flex
      align-content: center
      grid-row: 2 / 4
      grid-column: span 2
    &-links
      display: flex
      justify-content: space-between
      align-items: center
      min-width: 83px
  &__legal
    grid-row: 1 / 2
  &__contact-details
    grid-column-start: span 2
  &__contact-form
    grid-column: span 2
  &__form
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
  &__input
    background-color: #fff
    border-radius: 4px
    border: none
    padding: 0 23px
    height: 50px
    margin-bottom: 15px
    flex-basis: 48%
  &__message
    background-color: #fff
    border-radius: 4px
    padding: 18px 23px
    border: none
    flex-basis: 100%
    width: 539px
    height: 123px
    resize: none
    margin-bottom: 23px
  &__button
    min-width: 160px
    min-height: 50px
    padding: 18px
    font-style: normal
    font-weight: bold
    font-size: 12px
    line-height: 15px
    background-color: $primary
    color: $light-theme
    border: none
    border-radius: 4px
  &__info
    color: $footer-text-color
    font-style: normal
    font-weight: bold
    font-size: 12px
    line-height: 15px

.disclaimer
  margin-top: 102px
  display: flex
  justify-content: space-between
  flex-direction: row
  &-info
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: nowrap
    width: 283px
    &__text
      font-size: 12px
      line-height: 15px
      font-style: normal
      font-weight: normal
  &-cards
    width: 81px
    display: flex
    justify-content: space-between
    &__pay
      display: flex
      align-items: center
      min-width: 22px
      max-height: 16px
  &-empty
    width: 100px

.ico
  &__card-pay
    width: 25px
    height: 16px
